[submodule "qemu/roms/vgabios"]
	path = qemu/roms/vgabios
	url = git://git.qemu.org/vgabios.git/
[submodule "qemu/roms/seabios"]
	path = qemu/roms/seabios
	url = git://git.qemu.org/seabios.git/
[submodule "qemu/roms/SLOF"]
	path = qemu/roms/SLOF
	url = git://git.qemu.org/SLOF.git
[submodule "qemu/roms/ipxe"]
	path = qemu/roms/ipxe
	url = git://git.qemu.org/ipxe.git
[submodule "qemu/roms/openbios"]
	path = qemu/roms/openbios
	url = git://git.qemu.org/openbios.git
[submodule "qemu/roms/qemu-palcode"]
	path = qemu/roms/qemu-palcode
	url = git://repo.or.cz/qemu-palcode.git
[submodule "qemu/roms/sgabios"]
	path = qemu/roms/sgabios
	url = git://git.qemu.org/sgabios.git
